*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: #bbb;
}

a{
    color: rgb(22, 124, 219);
    text-decoration: none;
}

.container {
    padding: 0 1rem;
}

.btn{
    display: inline-block;
    border: none;
    background: rgb(27, 34, 48);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
